{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <body id="update-body">
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Update your account</h3>

            <br>
            <br>

            <form action="" method="post" autocomplete="off">
                {% csrf_token %}

                {{ user_form.username|as_crispy_field }}
                {{ user_form.email|as_crispy_field }}
                
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2 mb-2">&nbsp; Update</button>
            </form>
        </div>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Delete your account</h3>
            <hr>
            <br>
            <br>
            <p>Proceed if you wish to delete your account</p>
            <a class="btn btn-danger navbar-btn text-white" type="button"  href="{% url 'delete-account' %}"> Delete </a>
        </div>
    </body>
    <br>
{% endblock %}